<div class="project-form__stack">
  @for (card of cards().controls; track card; let i = $index) {
    <div class="project-form__item" [formGroup]="card">
      <div class="project-form__item-header">
        <span>{{ itemLabel() }} {{ i + 1 }}</span>
        <button
          matIconButton
          type="button"
          [attr.aria-label]="'Remove ' + itemLabel()"
          (click)="remove(i)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>

      <mat-tab-group dynamicHeight>
        @for (language of languages; track language.suffix) {
          <mat-tab [label]="language.label">
            <div class="project-form__stack project-form__tab-body">
              <app-rich-text-editor
                [label]="'Content (' + language.label + ')'"
                [placeholder]="placeholder()"
                [formControlName]="controlBase() + 'Content' + language.suffix"
              />
            </div>
          </mat-tab>
        }
      </mat-tab-group>
    </div>
  }

  <button matButton="outlined" type="button" class="project-form__add" (click)="add.emit()">
    <mat-icon>add</mat-icon>
    {{ addLabel() }}
  </button>
</div>
