<div class="project-form__stack">
  @for (card of cards().controls; track card; let i = $index) {
    <div class="project-form__item">
      <div class="project-form__item-header">
        <span>{{ itemLabel() }} {{ i + 1 }}</span>
        <button
          matIconButton
          type="button"
          [attr.aria-label]="'Remove ' + itemLabel()"
          (click)="remove(i)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>

      <app-translated-rich-text
        [group]="card"
        [base]="base()"
        [label]="itemLabel() + ' content'"
        [placeholder]="placeholder()"
      />
    </div>
  }

  <button matButton="outlined" type="button" class="project-form__add" (click)="add.emit()">
    <mat-icon>add</mat-icon>
    {{ addLabel() }}
  </button>
</div>
